<!DOCTYPE html>
<html lang="en">
	<head>
		<title>Leaderboards</title>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
        <link rel="stylesheet" href="{{url_for('static', filename='css/main.css')}}">
        <script src="{{url_for('static', filename='javascript/main.js')}}"></script>
	</head>
	<body>
		<div class="container-fluid top" style="height:0%;">
            <div class="vert">
                <h1>Leaderboards</h1>
                <h4>In this app you can create your own leaderboard! Try it out!</h4>
                <button data-toggle="collapse" data-target="#by" class="btn btn-artist">Made by</button>
                <div id="by" class="collapse">
                    <br/>
                    <a href="https://github.com/KittyJ-Immalle">Kitty Jacobs</a>
                </div>
            </div>
        </div>

        <div class="nav-wrapper">
			<nav class="navbar navbar-inverse" data-spy="affix" data-offset-top="500">
			</nav>
		</div>

			<div class="col-md-12">
				<div class="container-fluid">
					<h2 class="title"><u>NEW LEADERBOARD</u></h2>
					<form class="form" method="post" action="/new-leaderboard">
                        Title leaderboard:<br>
                        <input type="text" name="titleLeaderboard">
                        <br>
                        Description:<br>
						<input type="text" name="description">
						<br>
						Genre:<br>
						<input type="text" name="genre">
						<br>
						Author:<br>
						<input type="text" name="author">
						<br>
                        <br>
                        <button type="submit" action="Submit">Submit</button>
					  </form> 
					  <br>
				</div>
			</div>
	</body>
</html>

